body {
  margin-left: 200px;
}
header {

}

h1 {

}

p {
  font-family: 'Lora', serif;
}

footer {
  float:none;
  margin: 0px 0px 0px 0px;
  text-align: center;
  padding: 0px
  font size: 10px
}

.oswald_700 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

.oswald_300 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

.yellowtail {
  font-family: 'Yellowtail', cursive;
}

.uppercase {
  text-transform: uppercase;
}

.header_img_left {

}

.header_img_right {
  padding-left: 10px;
}

.subHead {

}


.backslashRule {
  color: grey;
  width: 100%;
}

.ingredients_box {
  background-image: url(images/list-bg.png);
  width: 50%;
  padding: 20px 50px 20px 20px;
  align-content: flex-start;
}

.ingredients {
  font-family: 'Patrick Hand', cursive;
  font-size: 20px;
}

.footerhr {
}

}
.footertxt {

}

.container {
  display: flex;
  /*flex-wrap: wrap;*/
  /*flex-direction: row;*/
  justify-content: space-between;
  flex-flow: row wrap;
}

.flex {
  flex: 1;
}

#logoImg {
  padding-top: 14px;
}

#logoTxt {
  margin: 0px;
  padding-left: 10px;
  padding-bottom: 2px;
  font-size: 2.5em;
  height: 45px;
}

#logoSlogan {
  margin: 0px;
  font-size: 0.60em;
  padding-left: 15px;
  letter-spacing: 2px;
}

#delicious_sub {

}
