body {
    margin-left: 175px;
    margin-top: 25px;
    width: 907px;
}

header {

}

h1 {

}

p {
  font-family: 'Lora', serif;
}

li {
  list-style-type: circle;
}

.strikeout {
  text-decoration: line-through;
}

footer {
  float:none;
  margin: 0px 0px 0px 0px;
  text-align: center;
  padding: 0px
  font size: 10px
  inline-block:
}

.oswald_700 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

.oswald_300 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

.yellowtail {
  font-family: 'Yellowtail', cursive;
}

.uppercase {
  text-transform: uppercase;
}

.header_img_left {
  padding-top: 25px;
}

.header_img_right {
  padding-left: 10px;
  padding-top: 25px;
}

.subHead {

}


.backslashRule {
  color: grey;
  width: 100%;
}

.ingredients_box {
  background-image: url(images/list-bg.png);
  width: 80%;
  padding: 20px 50px 20px 20px;
  align-content: flex-start;
}

.ingredients {
  font-family: 'Patrick Hand', cursive;
  font-size: 20px;
}

<<<<<<< HEAD
=======
.byline {
  justify-content: flex-end;
  align-items: center;
}

.button {
  background-color: rgb(188, 122, 88);;
  border: none;
  text-align: center;
  height: 60px;
  width: 130px;
}

>>>>>>> ac59fc6403424bdeb88160905394ba5586beef6c
.footerhr {

}

.footertxt {

}

.container {
  display: flex;
  /*flex-wrap: wrap;*/
  /*flex-direction: row;*/
  justify-content: space-between;
  flex-flow: row wrap;
}

.flex {
  flex: 1;
}

#logoImg {
  padding-top: 14px;
}

#logoTxt {
  margin: 0px;
  padding-left: 6px;
  padding-bottom: 2px;
  font-size: 2.5em;
  height: 45px;
}

#logoSlogan {
  margin: 0px;
  font-size: 0.60em;
  padding-left: 11px;
  letter-spacing: 2px;
}

<<<<<<< HEAD
=======
#printImg {
  height: 10px;
  padding-top: 2px;
}

>>>>>>> 9b6cf5eef04a18bff2a94dadcf05252d53a682bc
#delicious_sub {

}
<<<<<<< HEAD
=======

#byline_text {
  width: 600px;
  margin-right: 150px;
  margin-left: 10px;
}

#byline_text_sub {
  font-size: 120%;
}

.grey {
  color: grey;
}

.displayFlex {
  display: flex;
}

.articleSubTitle {
  margin: 0;
  font-size: .8em;
  letter-spacing: 1px;
}

.print {
  padding-left: 5px;
}

.indent {
  text-indent: 30px;
  padding: 5px 0px;
  line-height: 25px;
}

figure {
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 10px;
}
>>>>>>> ac59fc6403424bdeb88160905394ba5586beef6c
